.invalid-feedback {
  color: white !important;
}

.PhoneInputInput{
  border: none !important;
  line-height: 2 !important;
  font-family: cursive !important;
}

.PhoneInputInput::placeholder{
  color: #c7c7c7 !important;
}

.PhoneInputInput:focus, .PhoneInputInput:active{
  border: none !important;
  outline: none !important;
}

.ReactFlagsSelect-module_selectBtn__19wW7{
  background-color: white !important;
}

.ReactFlagsSelect-module_selectValue__152eS{
  color: green !important;
}

.PhoneInput{
  color: black !important;
}

.react-tel-input .form-control{
  width: 100% !important;
  line-height: 1.5 !important;
  height: 45px !important;
  font-size: 1rem !important;
  font-family: cursive !important;
  color: green !important;
  border-radius: 12px !important;
}

.react-tel-input .form-control::placeholder{
  color: #c7c7c7 !important;
}

.react-tel-input .flag-dropdown{
  background-color: #FFF !important;
  border-right: 0 !important;
}

.react-tel-input .flag-dropdown .open:focus .react-tel-input .flag-dropdown .open:active{
  border: 1px solid white !important
}

.react-tel-input .invalid-number-message {
  position: absolute !important;
  z-index: 1 !important;
  font-size: 14px !important;
  left: 0 !important;
  top: 51px !important;
  background: none !important;
  padding: 0 2px !important;
  color: #de0000 ;
}

.react-tel-input .form-control.invalid-number{
  background-color: #FFF !important;
}

.login-input-field,
.primary-input-field {
  height:45px;
}

.invalid-number-message {
  color: white !important;
}

.outlet {
  height:88vh;
  width:80vw;
  overflow-y:scroll;
  background-color: #f0f8ff;
}

.create-fields {
  height:45px;
  width: 100%;
  padding:5px;
  border: none;
  border-radius: 8px;
}

create-fields:active,
.create-fields:focus {
  border: none;
  outline: none;
}

.error-feedback {
  color:red;
}

::-webkit-scrollbar {
  display:none;
}
.edit-fields {
  width:500px;
  height: 40px;
}